.header-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.header-logo {
  width: 10vw;
}

.user-info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-info-container p {
  font-size: 17px;
}

