.expenses-table-component {
  display: flex;
  justify-content: center;
}

.expenses-table-div {
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-height: 50vh;
  overflow: auto;
  width: 80vw;
}

.loading {
  text-align: center;
}

.expenses-table {
  border-collapse: collapse;
  margin: 20px 0;
}

thead {
  border-bottom: 1px solid black;
}

th , td {
  font-size: 15px;
  height: 55px;
  text-align: center;
  width: 130px;
}

th {
  border-right: 1px solid black;
}

th:last-of-type {
  border-right: none;
}

tbody tr td {
  border: 1px solid black;
}
