.wallet-page {
  background-color: rgb(33, 40, 46);
  background-image: url('../../../assets/background.svg');
  background-size: cover;
  min-height: 100vh;
}

.error-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.error {
  background-color: rgba(255, 255, 255, 0.815);
  border: 3px solid red;
  color: red;
  padding: 50px;
}

