* {
  margin: 0;
}

.login-page {
  align-items: center;
  background-color: rgb(61, 193, 140);
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-box {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  justify-items: center;
  width: 80vw;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

input {
  margin: 5px 0;
}
