.wallet-form {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.form-title {
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.form-container input , .form-container select {
  margin-left: 5px;
}

.form-label {
  padding: 5px 0;
}
