.loading {
  font-size: 30px;
}

.wallet-form {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.form-title {
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.form-container input , .form-container select {
  margin-left: 5px;
}

.form-container label {
  padding: 5px 0;
}

.form-btn {
  align-self: center;
  background-color: rgba(47, 193, 140, 1);
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  padding: 7px;
  width: 180px;
}

.form-btn:hover {
  cursor: pointer;
}

.form-btn:active {
  transform: scale(0.95);
}

.form-btn:disabled {
  background-color: red;
  cursor: unset;
  transform: unset;
}

.edit {
  background-color: rgb(3, 67, 224);
}
